{% load staticfiles %}

<html>
<head>
    <title>Priyanka's Blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

</head>
<body>

<div>
    <div class="page-header"><h1>Welcome!!</h1><br/><h4 class="pull-middle">Thanks for visiting my blog!!</h4></div>

    <div class="row">

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'post_list' %}" class="top-menu"> Home </a></li>
                <li><a href="{% url 'post_new' %}" class="top-menu"> Post new</a></li>
                <li><a href="{% url  'post_list' %}" class="top-menu"> Back </a></li>
            </ul>
        </div>
    </div>
</div>
</div>

<div class="content container">
    <div class="row">
        <div class="col-md-8">

            {% block content %}
            {% endblock %}
        </div>
    </div>
</div>
<div class="footer">
    <h3>Resources</h3>
    <a href="https://en.wikipedia.org/wiki/Django" class="external_link" id="link_to_wiki_page">Django Wiki</a>
</div>
</body>